<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    v-if="this.$store.state.devMode"
  >
    <template v-slot:activator="{ on }">
      <v-btn v-on="on" icon>
        <v-icon>mdi-wrench</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>开发者选项</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-alert type="warning" outlined border="left" class="ml-2 mr-2 mt-4">
        <div class="title">
          注意！小心使用！
        </div>
        这里是一些实验性的选项，不要随便动它们，否则可能会影响您的使用。
      </v-alert>
      <v-divider></v-divider>
      <v-list three-line subheader>
        <v-subheader>镜像源</v-subheader>
        <ManualMirrorChoose />
      </v-list>
    </v-card>
  </v-dialog>
</template>
<script>
import ManualMirrorChoose from "@/components/modal/DevSettingsItem/ManualMirrorChoose";

export default {
  data() {
    return {
      dialog: false
    };
  },
  components: {
    ManualMirrorChoose
  }
};
</script>
