<template>
  <v-dialog v-model="dialog" scrollable max-width="300px">
    <template v-slot:activator="{ on }">
      <v-list-item v-on="on">
        <v-list-item-content>
          <v-list-item-title>手动选择使用的镜像源 (WIP)</v-list-item-title>
          <v-list-item-subtitle
            >当前使用： [{{ url_selected }}]</v-list-item-subtitle
          >
        </v-list-item-content>
      </v-list-item>
    </template>
    <v-card>
      <v-card-title>选择镜像源</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-radio-group v-model="mirror_chosen" column>
          <v-radio
            label="iptv.uestc.edu.cn"
            value="iptv.uestc.edu.cn/mirrors"
          ></v-radio>
          <v-radio label="mirrors.uestc.cn" value="mirrors.uestc.cn"></v-radio>
          <v-radio
            label="mirrors.uestc.edu.cn"
            disabled
            value="mirrors.uestc.edu.cn"
          ></v-radio>
        </v-radio-group>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="blue darken-1" text @click="saveAndExit">
          关闭
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    mirror_chosen: ""
  }),
  computed: {
    url_selected: {
      get() {
        return this.$store.state.baseURL;
      },
      set(val) {
        return this.$store.commit("updateBaseURL", val);
      }
    }
  },
  methods: {
    saveAndExit() {
      if (this.mirror_chosen != "") {
        this.url_selected = this.mirror_chosen;
      }
      this.dialog = false;
    }
  }
};
</script>
